body{

  background-image: url('bcg.jpeg');
  background-size: cover;
  /* background-position: -170px -10px; */
  font-weight: 600;
  
  /* color: white */
}

.main{
  text-align: center;
  width:50vw;
  margin: 0 auto;
  outline: 1px solid black;
  padding: 1rem 2vw;
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 100%; */
}

.query{
  width: 32vw;
  margin: 0 auto;
}

h1, h2{
  text-align: center;
}

h1{
  font-size: 4rem;
}

table{
  margin: 0 auto;
  /* border: 2px solid black; */
}

table *{
  border: 2px solid black;
}

code{
  text-align: left;
}

/* td{
  border:  2px solid black;
} */
